""" This is my .ideavimrc file for IntelliJ projects. Feel free use it --------

""" Map leader to space -------
let mapleader = " "

""" Some Basic Vim necessities -------
set hlsearch

""" plugins --------
set easymotion
set multiple-cursors

" have x (removes single character) not go into the default registry
nnnoremap x "_x


" Copy a word
nmap ,c yiw
" Select a word
nmap ,v viw

# Hover over error bind
map gh <Action>(ShowHoverInfo)

" Paste in where the cursor is ----
nnoremap gP i<CR><Esc>PkJxJx
nnoremap gp a<CR><Esc>PkJxJx

" change the copy and paste to match d and D binds
nnoremap Y y$
nnoremap V v$
nnoremap vv V

" recenter after up and down 
nnoremap <C-f> <C-f>zz
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap <C-b> <C-b>zz


" easy window navigation
nnoremap <a-k> gT
nnoremap <a-j> gt
nnoremap <c-s-tab> gT
nnoremap <c-tab> gt

" clear search buffer for nohlsearch
nnoremap <leader><cr> :nohlsearch<cr>

" copy whole file
nmap <C-a> ggVG"+y

""" Mappings ----
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

""" Source the .ideavimrc file ----
:map <leader>9 <Action>(IdeaVim.ReloadVimRc.reload)
let g:WhichKeyDesc_reload_vim_rc = "<leader>9 Reload Vimrc"