""" Map leader to space ---------------------
let mapleader=" "

""" Some Basic vim necessities -------------
set hlsearch 

""" plugins --------------------------------
set easymotion
set multiple-cursors

" have x (removes single character) not go into the default registry
nnoremap x "_x

" Copy Word
nmap ,c yiw

" Select word
nmap ,v viw

# Hover over error bind
map gh <Action>(ShowHoverInfo)

" paste in where the cursor is -------------
nnoremap gP i<CR><Esc>PkJxJx
nnoremap gp a<CR><Esc>PkJxJx

" change the copy and paste to match d and D binds
nnoremap Y y$
nnoremap V v$
nnoremap vv V

" recenter after up and down
nnoremap <C-f> <C-f>zz
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap <C-b> <C-b>zz

" easy window navigation
nnoremap <a-k> gT
nnoremap <a-j> gt
nnoremap <c-s-tab> gT
nnoremap <c-tab> gt

" clear the search buffer when hitting return
nnoremap <leader><cr> :nohlsearch<cr>

" copy whole file
nmap <C-a> ggvvG"+y

" splits
:map <leader>i <Action>(PrevSplitter)
:map <c-b> <Action>(SplitVertically)


""" Mappings --------------------------------
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

""" Source vimrc
:map <leader>9 <Action>(IdeaVim.ReloadVimRc.reload)
let g:WhichKeyDesc_reload_vim_rc = "<leader>9 Reload VimRc"
