""" Map leader to space ---------------------
let mapleader=" "

""" Some Basic vim necessities -------------
set hlsearch 
set scrolloff=10
set number
set relativenumber
set showmode
set showcmd
set smartcase
set incsearch
set hlsearch
set visualbell
set clipboard+=unnamed
set clipboard+=unnamedplus   

""" plugins --------------------------------
set easymotion
set multiple-cursors

" have x (removes single character) not go into the default registry
nnoremap x "_x
" other deletion settings
nnoremap <leader>dd \"_dd")
vnoremap <leader>dd \"_dd"

" Copy Word
nmap ,c yiw

" Select word
nmap ,v viw

"--  Class motions
if &ide =~? 'intellij'
  "--- Previous class opening
  nnoremap [c 0?\<class\> <cr>f{:nohlsearch<cr>  
  "--- Next class opening
  nnoremap ]c $/\<class\> <cr>f{:nohlsearch<cr>
  "--- Previous class closing
  nnoremap [C $?\<class\> <cr>nf{%:nohlsearch<cr>
  "--- Next class closing
  nnoremap ]C 0/\<class\> <cr>f{%:nohlsearch<cr>
endif

nnoremap vic gg :action MethodDown<cr>f{vi{ 
nnoremap vac gg :action MethodDown<cr>f{va{ 
nnoremap dic gg :action MethodDown<cr>f{di{ 
nnoremap dac gg :action MethodDown<cr>f{da{ 
nnoremap cic gg :action MethodDown<cr>f{ci{ 
nnoremap cac gg :action MethodDown<cr>f{ca{ 
nnoremap yic gg :action MethodDown<cr>f{yi{ 
nnoremap yac gg :action MethodDown<cr>f{ya{ 

nnoremap <C-o> :action Back<cr>
nnoremap <C-i> :action Forward<cr>

" Tmux like
nnoremap <a--> :action SplitHorizontally<cr>
nnoremap <a-\> :action SplitVertically<cr> 
nnoremap <c-a-d> :action Unsplit<cr>

# Hover over error bind
map gh <Action>(ShowHoverInfo)

" paste in where the cursor is -------------
nnoremap gP i<CR><Esc>PkJxJx
nnoremap gp a<CR><Esc>PkJxJx

" change the copy and paste to match d and D binds
nnoremap Y y$
nnoremap V v$
nnoremap vv V

" recenter after up and down
nnoremap <C-f> <C-f>zz
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap <C-b> <C-b>zz
nnoremap n nzz
nnoremap N Nzz

" easy window navigation
nnoremap <a-k> gT
nnoremap <a-j> gt
nnoremap <c-s-tab> gT
nnoremap <c-tab> gt

" clear the search buffer when hitting return
nnoremap <leader><cr> :nohlsearch<cr>
nnoremap <leader><BS> :bd<CR>

" copy whole file
nmap <leader>vv ggVG"+y

" goated bindings for qol
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv
nnoremap J mzJ`z

" splits
:map <leader>i <Action>(PrevSplitter)
:map <c-b> <Action>(SplitVertically)


""" Mappings --------------------------------
" map <leader>f <Plug>(easymotion-s)
" map <leader>e <Plug>(easymotion-f)

""" Source vimrc
map <leader>9 :source ~/.ideavimrc<cr>
